apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pipeline
  template:
    metadata:
      name: jenkins
      labels:
        app: pipeline
    spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins:2.528.2-lts-jdk21
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
  labels:
    app: pipeline
spec:
  selector:
    app: pipeline
  type: NodePort
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 31000
